<br />

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Privacy Policy</h1>

  <p>Our privacy policy is simple: We don't collect any information about you, the device you are using to view this site, what site you came from to get here, what site you go to after you leave here, etc, etc . . . <b>We don't want any info on you!</b></p>

  <p>Why? Well, because just making this site was more than enough work for us. If we collected info about you, we'd have to WORK EVEN MORE to use it for profit. We don't need that aggravation, and neither do you!</p>

  <%= image_tag 'padlock.png', class: 'teampic' %>

</div>