@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url('arches.png');
  font-family: 'Helvetica Neue', Helvetica;
  /* (Other fonts reco'ed by TFP): font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif; */
}

.navbar {
  /* background:url('arches.png'); */
  background-color: gold;
  font-size: 117%;
  font-family: 'Shrikhand', cursive;
  font-weight: 200;
  box-shadow: 1px 1px 3px #888;
  border: none;
  border-radius: 0;
}

.navbar-inverse a.navbar-brand {
  color: black;
  font-family: 'Shrikhand', cursive;
  font-size: 117%;
}

.navbar-inverse a.navbar-brand:hover {
  text-shadow: 2px 2px 2px #555;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.hero {
  background: url('mtn_guy.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  box-shadow: 0 3px 8px #888;
}

.frosty {
  color: white;
  background-color: rgba(0,0,0, 0.4);
  padding: 1% 2%;

}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff9d7;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 1.5% 2.5%;
  margin: 1.5% 4%;
}

.pagehead, .booyah-box h2, .booyah-box h1 {
  margin: 1% 4%;
}

.formhead {
  margin: 1% 1% 2% 0.6% !important;
}

.clr {
  clear: both;
}